* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

body {
  background-color: #f9f9f9;
  color: #333;
  font-size: 16px;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  font-weight: 300;
  background-image: url('https://as2.ftcdn.net/v2/jpg/04/11/86/13/1000_F_411861379_ZR4zqf83dY1jZs8utD2hvI7lJC80IIzi.jpg'); /* Your image background */
  background-size: cover; /* Ensures the image covers the full page */
  background-position: center;
  background-attachment: fixed; /* Keeps the background fixed while scrolling */
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px;
  background-color: rgba(255, 255, 255, 0.8); /* Transparent white background */
  border-radius: 15px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
}

nav {
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 10px 0;
  border-radius: 10px;
  margin-bottom: 40px;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #00bcd4;
}

h1, h2 {
  text-align: center;
  color: #333;
  font-weight: 500;
  margin-bottom: 10px;
}

h2 {
  color: #00bcd4;
}

section {
  margin-bottom: 40px;
}

.section-content {
  padding: 30px;
  margin-bottom: 40px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
}

ul {
  list-style-type: none;
  margin-left: 20px;
}

.job {
  margin-bottom: 20px;
}

.job h3 {
  color: #00bcd4;
  font-size: 22px;
}

ul li {
  color: #666;
}

#contactInfo {
  font-size: 18px;
  color: #333;
  margin-top: 20px;
}

a {
  color: #00bcd4;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.location, .bio {
  font-size: 16px;
  color: #666;
  text-align: center;
}
